table, th, td{
    border: 1px solid black;
    border: 2px dashed rgb(10, 146, 158); 
    color: rgb(18, 96, 96);
}
table{
    border-collapse: collapse;
    border: solid rgb(171, 114, 7);
}
th{
    width: 150px;
    height: 50px;
    border: 2px dotted rgb(214, 190, 5);
    background-color: rgb(18, 214, 214);
    color: rgb(18, 96, 96);
}
tr{
    height: 50px;
}
td{
    padding-left: 10px;
}
/* tr:nth-child(even) {background-color:rgb(8, 157, 157);} */
table tr:last-child{
    border-bottom: none;
    border-bottom: none;
}
.tbl2{
    background-color: rgb(18, 214, 214);
}
.tbl3{
    background-color: rgb(18, 214, 214);
}